a:hover, a:focus, a:visited {
    color: #165ba8;
    text-decoration: underline;
}
a:active, a:hover {
    outline: 0 none;
}
a {
    color: #165ba8;
    text-decoration: none;
}
.navbar[role="navigation"] {
  border-radius: 0;
}